
/*************************SLIDE OUT DIV CONTROLS*******************************/
.slide-out-div {
    color: #272727;
    /*background: #f1f2f8;*/
    background-color: rgba(240 ,240 , 240 , 0.5);
    /*background-image: url('img/pat3.jpg');*/
    /*filter: alpha(opacity=70);*/
    border: 2px inset white;
    padding: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0px;
    -moz-box-shadow:0 5px 3px #444444;
    -webkit-box-shadow: 0 5px 3px #444444;
    height: 299px;
    width: 300px;
}

.slide-out-div input{
    float: right;
    display: inline;
    width: 70%;
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
}
.slide-out-div label {
    float: left;
    display: inline;
    padding-top: 4px;
}
.slide-out-div form button {
    margin-top: 8%;
    margin-left: 3px;
}

/******************************************************************************/

/******************************MAIN STRUCTURE**********************************/
#add_book {
    padding: 0 0 0.5em 0;

}

#AB_header {
    padding: 1.3em 0.5em 0.5em 0.5em;
    height: 8%;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;

    background: #cfe7fa; /* old browsers */
    background: -moz-linear-gradient(top, #D5E1DD 0%, #747E80 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D5E1DD), color-stop(100%,#747E80)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* ie */

}

#AB_header img {
    margin-left: 3px;
    margin-top: -10px;
}

#searchbox {
    font-size: 1em;
    width: 245px;
    margin-top: -5px;
    padding: 3px;
    border-style: 1px;
    border-color: #828282;
    border-style: solid;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

#contacts_list {
    font-size: medium;
    width: 100%;
    height: 77%;
    display: inline;
    float: left;
    overflow: auto;
  }

#contacts_list h5{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 70%;
    margin-top: 7px;
    margin-bottom: 0;
    float: left;
    display: inline;
 }

 #contacts_list h5:hover {
    background: #cfe7fa;
}

#single_contact {
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

 #contact_edit {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 60%;
    display: none;
}

#AB_footer {
    padding-top: 0.2em;
    height: 8%;
    margin-top: 78%;
    background: #cfe7fa; /* old browsers */
    background: -moz-linear-gradient(top, #D5E1DD 0%, #747E80 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D5E1DD), color-stop(100%,#747E80)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* ie */
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}

#add_contact {
    font-size: medium;
    margin: 0 0 0 2em;
    padding-right: 2em;
    height: 110px;
    width: 90%;
    display: inline;
    float: left;
    background: rgba(196, 201, 202, 0.4);
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-box-shadow:0 3px 2px #444444;
    -webkit-box-shadow: 0 3px 2px #444444;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/******************************************************************************/

/************************************BUTTONS***********************************/
#contact_button {
    margin-left: 6px;
}

#add_button {
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    display: inline
}

#delete_button {
    margin-top: 3px;
    float: left;
    display: inline
}

#edit_button {
    float: left;
    display: inline

}

#delete_button:hover{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


#confirm_edit {
    margin-top: 10px;
    margin-left: 20px;
}

#edit_id {
    display: none;
}

/******************************************************************************/

/*************************************GROUPS***********************************/

.msg_list {
}

.msg_head {
    margin-right: 2px;
    margin-left: 2px;
    height: 7px;
    width: 92%;
    font-size: 0.8em;
    padding-left: 10px;
    margin: 0;
    background-color: rgba(204, 210, 255, 0.8);
    border: inset rgba(170, 170, 170, 0.7) 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.msg_body {
    width: 91%;
    margin-left: 6px;
    padding-left: 18px;
    padding-bottom: 4px;
    margin-bottom: 6px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-box-shadow:0 3px 2px #444444;
    -webkit-box-shadow: 0 3px 2px #444444;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}